fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
google-genai
transformers
torch
sentence-transformers
faiss-cpu
numpy
scikit-learn
pydantic
python-multipart
deepface
opencv-python
tf-keras